<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.augurit.awater.dao.FileMapper">
    <sql id="allColumns" >
        f.ID id,
        f.SUFFIX suffix,
        f.ORIGINAL_FILENAME originalFilename,
        f.FILE_SIZE fileSize,
        f.DIR_PATH dirPath,
        f.IS_ACTIVE isActive,
        f.CREATOR_LOGIN_NAME creatorLoginName,
        f.CREATOR_USER_NAME creatorUserName,
        IFNULL(date_format(f.CREATE_TIME, '%Y-%m-%d %H:%i:%s'), '') createTime,
        f.ENCODING encoding
    </sql>

    <!-- 保存附件信息 -->
    <insert id="saveFile" parameterType="FileInfo">
        INSERT INTO TB_FILE(ID, SUFFIX, ORIGINAL_FILENAME, FILE_SIZE, DIR_PATH, IS_ACTIVE, CREATE_TIME, ENCODING, CREATOR_LOGIN_NAME, CREATOR_USER_NAME)
        VALUES (#{id}, #{suffix}, #{originalFilename}, #{fileSize}, #{dirPath}, #{isActive}, #{createTime},
        #{encoding}, #{creatorLoginName}, #{creatorUserName})
    </insert>

    <!-- 批量删除附件信息 -->
    <delete id="removeFiles">
        DELETE FROM TB_FILE
        WHERE id IN
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item, jdbcType=VARCHAR}
        </foreach>
    </delete>

    <!-- 更新附件状态 -->
    <update id="updateFileStatus">
        UPDATE TB_FILE f
        SET f.IS_ACTIVE=#{isActive}
        WHERE f.id = #{id}
    </update>

    <!-- 查询单个附件信息 -->
    <select id="getFileInfo" resultType="FileInfo">
        SELECT <include refid="allColumns"/>
        FROM TB_FILE f
        WHERE f.id = #{id}
    </select>

    <!-- 通过ID列表查询所有的附件信息，如果集合为空，则查询所有的附件信息 -->
    <select id="findFileInfos" parameterType="java.util.List" resultType="FileInfo">
        SELECT <include refid="allColumns"/>
        FROM TB_FILE f
        WHERE 1=1
        <if test="!@org.springframework.util.CollectionUtils@isEmpty(ids)">
            and f.id IN
            <foreach collection="ids" item="item" open="(" separator="," close=")">
                #{item, jdbcType=VARCHAR}
            </foreach>
        </if>
    </select>

    <!-- 通过文件目录组查找所有的附件信息，如果集合为空，则查询所有的附件信息 -->
    <select id="findFileInfoList" parameterType="java.util.List" resultType="FileInfo">
        SELECT <include refid="allColumns"/>
        FROM TB_FILE f
        WHERE 1=1
        <if test="@org.apache.commons.lang.StringUtils@isNotEmpty(fileName)">
            and f.original_filename like CONCAT(CONCAT('%', #{fileName}), '%')
        </if>
        ORDER BY f.create_time desc
    </select>

    <!-- 保存服务审批文件 -->
    <insert id="saveTaskDetailFiles">
        INSERT INTO tb_detail_file(detail_id, file_id)
        VALUES
        <foreach collection="ids" item="item" open="" separator="," close="">
            (#{detailId, jdbcType=VARCHAR}, #{item, jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!-- 根据任务明细ID获取文件列表信息 -->
    <select id="findFileInfosByTaskDetailId" resultType="FileInfo">
        SELECT <include refid="allColumns"/>
        FROM TB_DETAIL_FILE tf left join TB_FILE f
        ON tf.file_id = f.ID
        WHERE tf.detail_id = #{detailId}
    </select>

    <!-- 删除任务明细ID文件列表信息 -->
    <delete id="removeTaskDetailFile">
        DELETE FROM TB_DETAIL_FILE
        WHERE detail_id = #{detailId}
        <if test="id != '' and id != null">
            AND file_id = #{id}
        </if>
    </delete>
</mapper>